*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
}

header,
section {
  display: block;
}

body {
  font-family: var(--body-font);
  color: var(--first-color);
}

h1,
h2 {
  text-align: center;
  font-weight: normal;
}

#features {
  margin: auto;
  width: 460px;
}

.connected,
.sortable {
  background-color: #f6f6f6;
  margin: auto;
}

.connected.list,
.sortable.list {
  width: 300px;
}

.connected.grid,
.sortable.grid {
  width: 410px;
  overflow: hidden;
}

.connected.grid li,
.sortable.grid li {
  line-height: 80px;
  width: 80px;
  height: 80px;
  text-align: center;
}

.connected li,
.sortable li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  border: 1px solid #ccc;
  font-family: "Tahoma";
  color: #1c94c4;
  margin: 5px;
  padding: 5px;
  height: 22px;
}

.connected li.sortable-placeholder,
.sortable li.sortable-placeholder {
  border: 3px dashed #3a2323;
}

.connected li[draggable="true"],
.sortable li[draggable="true"] {
  border-color: #000;
}

.connected li.sortable-dragging,
.sortable li.sortable-dragging {
  border-color: #1c94c4;
  cursor: -webkit-grab;
  cursor: grab;
}

.connected li.highlight,
.sortable li.highlight {
  background-color: #fee25f;
}

.disabled {
  opacity: 0.3;
}

.forceHeight {
  min-height: 3rem;
}

.yellow {
  background-color: #dfca0f;
}

.red {
  background-color: #df1b1b;
}
