*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
    column-gap: 4rem;
}
header,
section {
    display: block;
}
body {
    // margin: 0;
    // padding: 0;
    font-family: var(--body-font);
    color: var(--first-color);
}
h1,
h2 {
    text-align: center;
    font-weight: normal;
}
#features {
    margin: auto;
    width: 460px;
    // font-size: .9rem;
}
// ul {
//     margin: auto;
//     padding: 0;
// }

.connected,
.sortable {
    // user-select: none;
    background-color: #f6f6f6;

    margin: auto;
    &.list {
        width: 300px;
    }
    &.grid {
        width: 410px;
        overflow: hidden;
        & li {
            line-height: 80px;
            width: 80px;
            height: 80px;
            text-align: center;
        }
    }
    li {
        // user-select: none;

        display: flex;
        align-items: center;
        list-style: none;
        border: 1px solid #ccc;
        font-family: "Tahoma";
        color: #1c94c4;
        margin: 5px;
        padding: 5px;
        height: 22px;
        &.sortable-placeholder {
            border: 3px dashed rgb(58, 35, 35);
        }
        &[draggable="true"] {
            border-color: #000;
        }
        &.sortable-dragging {
            border-color: #1c94c4;
            cursor: grab;
        }
        &.highlight {
            background-color: #fee25f;
        }
    }
}
// #connected {
//     width: 200px;
// }
.disabled {
    opacity: 0.3;
}
.forceHeight {
    min-height: 3rem;
}

.yellow {
    background-color: rgb(223, 202, 15);
    // border-color: red !important;
}
.red {
    background-color: rgb(223, 27, 27);
}
// .black
